*{
    margin: 0px;
    padding: 0px;
    /* background-color: #f5f5f5; */
}
.container{
    width: 90%;
    margin: 0px auto;
    box-sizing: border-box;
}

/* header section style */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

header > .header-left > h1{
    font-size: 32px;
}

header > .header-right > button {
    font-size: 18px;
    font-weight: 400;
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
}

header > .header-right > button:hover{
    background-color: #006A50;
    color: white;
    transition: 1s;
}


/* Banner Section Design  */
.banner{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text > h3 {
    color: #0e0e0e7a;
    font-size: 24px;
    font-weight: 600;
}
.banner-text > h1 {
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
    margin-top: 15px;
}
.banner-text > button {
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 20px;
}