*{
    margin: 0px;
    padding: 0px;
    /* background-color: #f5f5f5; */
}
body{
    background-color: #f5f5f5;
}
.container{
    width: 90%;
    margin: 0px auto;
    box-sizing: border-box;
}

/* header section style */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

header > .header-left > h1{
    font-size: 32px;
}

header > .header-right > button {
    font-size: 18px;
    font-weight: 400;
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
}

header > .header-right > button:hover{
    background-color: #006A50;
    color: white;
    transition: 1s;
}


/* Banner Section Design  */
.banner{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text > h3 {
    color: #0e0e0e7a;
    font-size: 24px;
    font-weight: 600;
}
.banner-text > h1 {
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
    margin-top: 15px;
}
.banner-text > button {
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 20px;
}


/* Vision of Bangladesh section style */
.vision-one{
    margin-bottom: 80px;
}
.vision-one-headline > h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

/* vision one card design */
.vision-one-item{
    display: flex;
    justify-content: space-between;
}
.innovation-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border: 1px solid #0e0e0e17;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.innovation-card > .card-image > img {
    width: 64px;
    height: 64px;
}
.innovation-card > .card-text{
    width: 240px;
    color: #0e0e0ebe;

}
.innovation-card > .card-text > h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}


/* vision part two style */
.vision-two-text > h1 {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.vision-two-text > p{
    color: #0e0e0ebe;
    margin: 20px 0px;
}
.vision-two-project{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.vision-card{
    background-color: #548ff54b;
    padding: 22px;
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.vision-card > .card-image > img{
    width: 64px;
    height: 64px;
}
.vision-card > .card-text{
    width: 346px;
}
.vision-card > .card-text > h1{
    font-size: 20px;
    color: #0e0e0ed0;
    margin-bottom: 10px;
}
.vision-card > .card-text > p{
    font-size: 16px;
    color: #0e0e0ebe;
}
.vision-card > .card-button > button{
    background-color: #5490F5;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
/* short code tecnique */
.card-two{
    background-color: #C6E4D6;
}
.button-two{
    background-color: #09A15C !important;
}
.card-three{
    background-color: #F7EBCF;
}
.button-three{
    background-color: #FFC239 !important;
}


/* vision part three style */
.vision-spech{
    padding: 40px 24px;
    border: 1px solid #0e0e0e1e;
    border-radius: 16px;
    margin-bottom: 80px;
    background-image: url('./images/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 20px 20px;
}
.vision-spech > p{
    font-size: 16px;
    font-weight: normal;
    color: #0e0e0ebe;
    margin: 10px 0px;
}
.vision-spech > h1{
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0ed0;
}
.vision-spech > h6{
    font-size: 16px;
    font-weight: normal;
    color: #0e0e0ebe;
    margin: 10px 0px;
}


/* Recent news part style */
.news-title > h1 {
    color: #0E0E0E;
    font-size: 40px;
}
.news-title > p {
    color: #0e0e0ebe;
    font-size: 16px;
    margin: 15px 0px;
}
.card-one{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.card-image > img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.news-text > h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
.news-text > img {
    width: 134px;
    height: 40px;
    margin-bottom: 15px;
}
.news-text > time {
    display: block;
    font-size: 16px;
    color: #0e0e0ebe;
    margin-bottom: 15px;
}
.news-text > p {
    font-size: 16px;
    color: #0e0e0ebe;
}
.news-button > button{
    background-color: #006A50;
    color: white;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
}
.news-card{
    background-color: #FFFFFF;
    padding: 48px;
    border: none;
    border-radius: 24px;
    margin: 30px 0px;
}


/* Donation part style  */
.donation{
    padding: 30px 0px;
}
.donation-title{
    text-align: center;
    width: 80%; 
    margin: 0px auto;
}
.donation-title > h1 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0px;
}
.donation-title > p {
    color: #0e0e0ebe;
    font-size: 16px;
    margin-bottom: 20px;
}

.donation-chart{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    margin: 10px auto 30px;
}
.amount{
    padding: 40px;
    background-color: #FFFFFF;
    border: 1px solid #0e0e0e13;
    border-radius: 16px;
}
.selected-amount{
    background-color: #C6E4D6;
}
.donation-input{
    width: 80%; 
    margin: 0px auto;
}
.donation-input input {
    width: 100%;
    padding: 20px 40px;
    border: 1px solid #0e0e0e13;
    box-sizing: border-box;
}
.donation-button{
    margin: 30px 0px;
    text-align: center;

}
.donation-button > button {
    color: #ffffff;
    padding: 17px 34px;
    background-color: #006A50;
    border: 1px solid #0e0e0e0c;
    border-radius: 8px;
}
